.delete-btn, .update-btn, .download-btn, .import-btn {
    margin-left: 10px;
    cursor: pointer;
    float: right;
}

.delete-btn {
    color: red;
}

.download-btn {
    color: blue; /* Optional: Different color to distinguish the button */
}

.edit-btn, .new-btn {
    margin-left: 10px;
    cursor: pointer;
    float: right;
    color: black;
}

.update-btn {
    color: rgb(163, 113, 48);
}

.save-btn {
    color: green;
}

.csv-upload {
    margin-left: 10px;
    margin-right: 10px;
}

.import-btn {
    color: green;
    cursor: pointer;
}
